var getArrayLengthRandom = function(arr) {
  return Math.floor(Math.random() * (arr.length));
}

var formatNumber = function(n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}

var regYear = getRegExp("(y+)", "i");

var dateFormat = function(timestamp, format) {
  if (!format) {
    format = "yyyy-MM-dd hh:mm";
  }
  timestamp = parseInt(timestamp);
  var realDate = getDate(timestamp);

  function timeFormat(num) {
    return num < 10 ? '0' + num : num;
  }
  var date = [
    ["M+", timeFormat(realDate.getMonth() + 1)],
    ["d+", timeFormat(realDate.getDate())],
    ["h+", timeFormat(realDate.getHours())],
    ["m+", timeFormat(realDate.getMinutes())],
    ["s+", timeFormat(realDate.getSeconds())],
    ["q+", Math.floor((realDate.getMonth() + 3) / 3)],
    ["S+", realDate.getMilliseconds()],
  ];
  var reg1 = regYear.exec(format);
  // console.log(reg1[0]);
  if (reg1) {

    format = format.replace(reg1[1], (realDate.getFullYear() + '').substring(4 - reg1[1].length));
  }
  for (var i = 0; i < date.length; i++) {
    var k = date[i][0];
    var v = date[i][1];

    var reg2 = getRegExp("(" + k + ")").exec(format);
    if (reg2) {
      format = format.replace(reg2[1], reg2[1].length == 1 ?
        v : ("00" + v).substring(("" + v).length));
    }
  }
  return format;
}

var applicableForActivity = function(activityApplyForCustomerTypes, customerType) {
  var list = activityApplyForCustomerTypes.filter(function(item) {
    return item.uid == customerType.uid
  });
  if (list.length > 0) {
    return true;
  }
  return false;
}

//计算优惠后价格
// var calculateAmount = function(productIds, userInfo, byProducts, byActivityRules,number) {
//   var activityBitmap = new Object(); //用于记录已参与的活动
//   var customerType = userInfo.customerType;
//   var ingot = 0;
//   var credit = 0;
//   productIds.forEach(function(key,index) {
//     //遍历该产品所参与的活动，产品所参与的活动已按照优先级降序排序
//     //即产品优先参与优先级高的活动，每个产品一次只能参与一个活动
//     //积分不参与折扣
//     const rule = byProducts[key].activityRules;
//     var isOneOfRuleApplicable = false;
//     for (var i = 0; i < rule.length; i++) {
//       const activityId = byActivityRules[rule[i]].activity.uid;
//       const activityApplyForCustomerTypes= byActivityRules[rule[i]].activityApplyForCustomerTypes;
//       //判断用户的vip等级能否参与此活动
//       var isApplicable = false;
//       activityApplyForCustomerTypes.forEach(function(type)  {
//         if (type.uid == customerType.uid) {
//           isApplicable = true;
//         }
//       });
//       //vip等级不够则继续判断该产品下一个参与的活动
//       if (!isApplicable) {
//         continue;
//       }
//       //判断是否与已有活动互斥
//       var isMutex = false;
//       for (var activityKey in activityBitmap) {
//         if (byActivityRules[rule[i]].activity.mutexActivities.filter(function(item){return item.uid == activityKey}).length > 0) {
//           isMutex = true;
//         }
//       }
//       //互斥则继续判断该产品下一个参与的活动
//       if (isMutex) {
//         continue;
//       }
//       //否则将其记录在bitmap中并结束遍历
//       isOneOfRuleApplicable = true;
//       if (!activityBitmap[activityId] || !activityBitmap[activityId][rule[i]]) {
//         activityBitmap[activityId] = new Object();
//         activityBitmap[activityId][rule[i]] = new Array();

//       }
//       for (var j = 0; j < number[index]; j++) {
//         activityBitmap[activityId][rule[i]].push(key);
//       }
//       break;
//     }
//     //若这个产品的所有优惠规则不适用
//     //即不参加活动
//     if (!isOneOfRuleApplicable) {
//       ingot += byProducts[key].price.ingot * number[index];
//       credit += byProducts[key].price.credit * number[index];
//     }
//   })
//   //计算总价
//   console.log("activityBitmap", activityBitmap);
//   for (var activityId in activityBitmap) {
//     for (var ruleId in activityBitmap[activityId]) {
//       const activityRule1 = byActivityRules[ruleId].activityRule1;
//       const activityRule2 = byActivityRules[ruleId].activityRule2;
//       let ruleIngot = 0;
//       let ruleCredit = 0;
//       activityBitmap[activityId][ruleId].forEach(function(productId) {
//         ruleIngot += byProducts[productId].price.ingot;
//         ruleCredit += byProducts[productId].price.credit;
//       });
//       if (activityRule2 == null) {
//         //折扣
//         ingot += ruleIngot * (100 - activityRule1) / 100;
//         credit += ruleCredit;
//       } else {
//         //购物满xx赠/减xx积分/元宝
//         if (ruleIngot > activityRule1) {//满足条件
//           if (activityRule2.operation == "minus") {//满减元宝,满赠在后台处理
//             // if (activityRule2.currency == "ingot") {
//             ruleIngot -= activityRule2.number;
//             // } else {
//             //     ruleCredit -= activityRule2.number;
//             // }
//           }
//         }
//         ingot += ruleIngot;
//         credit += ruleCredit;
//       }
//     }
//   }
//   return {
//     ingot,
//     credit
//   }
// }

module.exports = {
  arrayLengthRandom: getArrayLengthRandom,
  dateFormat: dateFormat,
  applicableForActivity: applicableForActivity,
}