var getArrayLengthRandom = function(arr) {
  return Math.floor(Math.random() * (arr.length));
}

var formatNumber = function(n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}

var regYear = getRegExp("(y+)", "i");

var dateFormat = function(timestamp, format) {
  if (!format) {
    format = "yyyy-MM-dd hh:mm";
  }
  timestamp = parseInt(timestamp);
  var realDate = getDate(timestamp);

  function timeFormat(num) {
    return num < 10 ? '0' + num : num;
  }
  var date = [
    ["M+", timeFormat(realDate.getMonth() + 1)],
    ["d+", timeFormat(realDate.getDate())],
    ["h+", timeFormat(realDate.getHours())],
    ["m+", timeFormat(realDate.getMinutes())],
    ["s+", timeFormat(realDate.getSeconds())],
    ["q+", Math.floor((realDate.getMonth() + 3) / 3)],
    ["S+", realDate.getMilliseconds()],
  ];
  var reg1 = regYear.exec(format);
  // console.log(reg1[0]);
  if (reg1) {

    format = format.replace(reg1[1], (realDate.getFullYear() + '').substring(4 - reg1[1].length));
  }
  for (var i = 0; i < date.length; i++) {
    var k = date[i][0];
    var v = date[i][1];

    var reg2 = getRegExp("(" + k + ")").exec(format);
    if (reg2) {
      format = format.replace(reg2[1], reg2[1].length == 1 ?
        v : ("00" + v).substring(("" + v).length));
    }
  }
  return format;
}

var applicableForActivity = function(activityApplyForCustomerTypes, customerType) {
  for (var i = 0; i < activityApplyForCustomerTypes.length;i++){
    if (activityApplyForCustomerTypes[i].uid==customerType.uid){
      return true;
    }
  }
  return false;
}

var numberToDayofWeek=function(arry){
  var result = arry.map(function(item) {
    var day = "错误";
    switch (item) {
      case "1":
        day = "周一";
        break;
      case "2":
        day = "周二";
        break;
      case "3":
        day = "周三";
        break;
      case "4":
        day = "周四";
        break;
      case "5":
        day = "周五";
        break;
      case "6":
        day = "周六";
        break;
      case "0":
        day = "周日";
        break;
    }
    return day;
  });
  if (result.indexOf("错误") !== -1) {
    result = ["错误,请修改营业时间"];
  } else if (result.indexOf("周一") !== -1 && result.indexOf("周二") !== -1 && result.indexOf("周三") !== -1 &&
    result.indexOf("周四") !== -1 && result.indexOf("周五") !== -1 &&
    result.indexOf("周六") !== -1 && result.indexOf("周日") !== -1) {
    result = ["每天"];
  } else if (result.length === 5 && result.indexOf("周一") !== -1 && result.indexOf("周二") !== -1 && result.indexOf("周三") !== -1 &&
    result.indexOf("周四") !== -1 && result.indexOf("周五") !== -1) {
    result = ["工作日"];
  } else if (result.length === 2 && result.indexOf("周六") !== -1 && result.indexOf("周日") !== -1) {
    result = ["周末"];
  }
  return result;
}

var getCurrentReservationStatus = function(shop,box) {
  var  duration = box.duration;
  var  reservations  = box.reservations;
  var startTime  = shop.todayOpenHour.startTime;
  var currentTime = getDate().getTime();
  var currentReservationTime = startTime + Math.floor((currentTime - startTime) / (duration * 1000 * 60)) * (duration * 1000 * 60);
  if (reservations.indexOf(currentReservationTime) != -1) {
    return "使用中";
  }
  return "空闲";
}

var getNDayTimeString=function(n){
  var date = getDate(getDate().getTime() + n * 1000 * 60 * 60 * 24);
  var Y = date.getFullYear() + '-';
  var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
  var D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
  return Y + M + D;
}

/**
 * 将时间戳转化为hh:mm格式返回
 * @param {*} timestamp 
 */
var convertTimestampToHHMM = function(timestamp) {
  var date = getDate(timestamp);
  var h = (date.getHours() < 10 ? "0" + date.getHours() : date.getHours()) + ':';
  var m = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes());
  return h + m;
}

var convertTimestampToyyyMMdd=function(timestamp){
  var date = getDate(timestamp);
  var Y = date.getFullYear() + '-';
  var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
  var D = (date.getDate() < 10 ? '0' + date.getDate() : date.getDate()) + ' ';
  return Y+M+D;
}

var orderTotalProductNumber=function(products){
  var total=0;
  for(var i=0;i<products.length;i++){
    total+=products[i].number;
  }
  return total;
}

var getOrderStatus=function(status){
  switch(status){
    case 'unpay':
      return "等待买家付款";
    case 'payed':
      return '等待卖家发货';
    case 'shipped':
      return '等待买家收货';
    case 'requestRefund':
      return "退款中,等待管理员审核";
    case 'refunded':
      return "退款成功";
  }
}

module.exports = {
  arrayLengthRandom: getArrayLengthRandom,
  dateFormat: dateFormat,
  applicableForActivity: applicableForActivity,
  numberToDayofWeek: numberToDayofWeek,
  getCurrentReservationStatus: getCurrentReservationStatus,
  getNDayTimeString: getNDayTimeString,
  convertTimestampToHHMM: convertTimestampToHHMM,
  convertTimestampToyyyMMdd: convertTimestampToyyyMMdd,
  orderTotalProductNumber: orderTotalProductNumber,
  getOrderStatus: getOrderStatus,
}